@use '@/styles/variables.scss' as variables;
@use 'sass:color';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 6px;
  border-radius: 12px;
  border: 0;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  cursor: pointer;
  transition: background-color 50ms ease-in-out;

  &.primary {
    background-color: variables.$buttonDefault;
    color: #fff;
    
    &:hover {
      background-color: color.scale(variables.$buttonDefault, $lightness: -15%);
    }
  
    &:active:hover {
      background-color: color.scale(variables.$buttonDefault, $lightness: -25%);
    }

    &[disabled] {
      pointer-events: none;
      background-color: color.scale(variables.$buttonDefault, $saturation: -50%);
    }
  }

  &.secondary {
    background-color: variables.$buttonSecondary;
    color: variables.$accent;
    
    &:hover {
      background-color: color.scale(variables.$buttonSecondary, $lightness: -15%);
    }
  
    &:active:hover {
      background-color: color.scale(variables.$buttonSecondary, $lightness: -25%);
    }

    &[disabled] {
      pointer-events: none;
      background-color: color.scale(variables.$buttonSecondary, $saturation: -50%);
    }
  }
}