@use '@/styles/variables.scss' as variables;

.order {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(23, 25, 34, 0.02);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 20px;

  justify-content: space-between;

  @media screen and (max-width: variables.$breakpointTablet) {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .title {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: variables.$primary;
  }

  .date {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: variables.$tertiary;
  }

  .leftStandalone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    flex: 564 / (1240 - 20*2);
  }

  .phone,
  .status {
    flex: 200 / (1240 - 20*2);
  }

  .phone {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: variables.$primary;

    @media screen and (max-width: variables.$breakpointTablet) {
      font-size: 11px;
      color: variables.$tertiary;
    }
  }

  .status {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    // flex: (154 + 20 + 1) / (1240 - 20*2);

    &.startingCall,
    &.calling {
      color: #2CC633;
    }

    &.callEnded {
      color: variables.$accent;
    }

    &.error,
    &.couldntCall {
      color: #FC3A3A;
    }

    @media screen and (max-width: variables.$breakpointTablet) {
      font-size: 14px;
      margin-top: 12px - 8px;
    }
  }

  .rightStandalone {
    height: 36px;
    display: flex;
    align-items: stretch;
    gap: 20px;

    & > div {
      height: 100%;
    }
  }

  .action {
    width: 156px;
    background: none;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    font-family: 'Nunito';
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;

    &:not([disabled]) {
      cursor: pointer;
    }

    .adornmentButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 8px;
      width: 40px;
      height: 40px;
      background: variables.$buttonSecondary;
      border-radius: 12px;
    }

    &.grayedOut {
      color: variables.$tertiary;

      .adornmentButton {
        background: rgba(46, 55, 85, 0.05);
      }
    }

    .accent {
      color: rgba(75, 46, 255, 0.5);
    }

    .loading {
      display: flex;
      transform: rotate(0deg);
      animation: rotate 1s linear;
      animation-iteration-count: infinite;

      @keyframes rotate {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
    }
  }
}