@use '@/styles/variables.scss' as variables;

.input {
  display: flex;
  flex-direction: column;

  .textField {
    border-radius: 16px;
    font-size: 18px;

    * {
      font-family: 'Nunito';
    }
    
    [class~=MuiFilledInput-root] {
      border: 1px solid rgba(157, 136, 123, 0.25);
      background: #fff;

      &:before,
      &:after {
        display: none;
      }
    }

    [class~=MuiFilledInput-root],
    [class~=MuiFilledInput-input] {
      border-radius: 16px;
    }

    [class~=MuiFilledInput-input] {
      $padding: 18px;
      padding: 40px #{$padding} #{$padding} #{$padding};
    }

    [class~=MuiInputLabel-root] {
      left: 7px;
      top: 11px;
      font-size: 18px;
      color: variables.$secondary;

      &[class~=Mui-focused] {
        color: variables.$secondary;
      }
    }
  }

  .error {
    margin-left: 20px;
  }
}