@use '@/styles/variables.scss' as variables;

.pranks {
  width: 100%;
  max-width: var(--max-width);

  h1.chooseNewPrank {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: variables.$primary;
    margin: 32px 0;
  }

  .pranksPreviewsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    // min resizable width of each prank is about 268 px
    $prankWidth: 268px;
    $prankGap: 32px;

    @media screen and (max-width: calc(#{$prankWidth*4 + $prankGap*3} + 10px)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: calc(#{$prankWidth*3 + $prankGap*2} + 10px)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: variables.$breakpointTablet) {
      grid-column-gap: 12px;
      grid-row-gap: 12px;
    }
  }

  .tabs {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;

    [class~=ant-tabs-ink-bar] {
      background: variables.$accent;
      border-radius: 2px 2px 0px 0px;
      height: 3px;
    }

    [class~=ant-tabs-tab] {
      color: variables.$secondary;

      &[class~=ant-tabs-tab-active] [class~=ant-tabs-tab-btn] {
        color: variables.$primary;
      }
    }
    
    [class~=ant-tabs-tab-btn]:focus:not(:focus-visible) {
      color: variables.$secondary;
    }

    .counter {
      text-shadow: none;
      color: variables.$tertiary;
      margin-left: 4px;
    }
  }
}