.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0px;
  gap: 40px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
  }
  
  .image {
    position: relative;
  }
}