@use '@/styles/variables.scss' as variables;

.footer {
  border-top: 1px solid variables.$stroke;
  padding: 22.5px 0;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 56px + 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: variables.$breakpointTablet) {
    padding: 23px 0;
    margin-top: 16px;
  }

  .law {
    margin: 0;
    margin-left: 6px;
    white-space: pre-wrap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: variables.$tertiary;
  }
}